<google-pay-button
          environment="TEST"
          [buttonType]="buttonType"
          [buttonColor]="buttonColor"
          [buttonLocale]="buttonLocale"
          [existingPaymentMethodRequired]="existingPaymentMethodRequired"
          [paymentRequest]="{
            apiVersion: paymentRequest.apiVersion,
            apiVersionMinor: paymentRequest.apiVersionMinor,
            allowedPaymentMethods: paymentRequest.allowedPaymentMethods,
            merchantInfo: paymentRequest.merchantInfo,
            transactionInfo: {
              totalPriceStatus: 'FINAL',
              totalPriceLabel: 'Total',
              totalPrice: amount,
              currencyCode: 'USD',
              countryCode: 'US'
            },
            callbackIntents: ['PAYMENT_AUTHORIZATION']
          }"
          (loadpaymentdata)="onLoadPaymentData($event)"
          (error)="onError($event)"
          [paymentAuthorizedCallback]="onPaymentDataAuthorized"
        ></google-pay-button>

        <div>
          <h4>{{debugLog}}</h4>
      </div>
      